services:
  web:
    build: ./vineyard
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./vineyard:/app
    ports:
      - "8080:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: dionysos_postgres
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
